* {
	/*border: 1px solid black;*/
	padding: 0px;
	margin: 0px;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(87, 87, 87);
	font-size: larger;
	min-height: 100vh;
}
#z-cena-castka {
	font-weight: 600;
}

select {
	text-align: center;
	width: 250px;
	height: 25px;
	font-weight: 200;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 2px solid black;
	width: 250px;
	background-color: rgb(227, 224, 13);
}
option {
	font-weight: 600;
}

#ingredients-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 600;
	margin-left: 25px;
	margin-top: 5px;
}

.ingredience {
	margin-left: 15px;
	margin-right: 15px;
}
.design {
	border-radius: 3px;
	border: 2px solid black;
	background-color: rgb(227, 224, 13);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
input[type="number"] {
	width: 50px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

#burger-name {
	margin-top: 15px;
	margin-bottom: 10px;
}

.dva-okraje {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
}

button:hover {
	background-color: rgb(140, 138, 20);
}

.small-button {
	width: 20px;
}

hr {
	border: none;
	height: 2px;
	background-color: rgb(227, 224, 13);
	margin-top: 20px;
	width: 400px;
}

.souhrn {
	margin-top: 0px;
	margin-bottom: 20px;
	margin: 15px;
}

.produkt {
	position: relative;
	z-index: 2;

	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
	
	border-radius: 20px;
	border: 3px solid  rgb(227, 224, 13);
	background-color: rgb(71, 71, 63);
	box-shadow: 0 10px 30px rgba(0,0,0,2);
}

#product-image {
	position: relative;
	z-index: 1;
	margin-left: -40px;

	display: flex;
	justify-content: center;
	align-items: center;
	
}

.burger-image {
	border-radius: 20px;
	border: 4px solid  rgb(227, 224, 13);
	height: 605px;
	width: 600px;
}

.container {
	position: relative;
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}