body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
	font-size: larger;
}
#base-price {
	text-align: right;
}
select {
	text-align: center;
	width: 250px;
	font-weight: 200;
}

#ingredients-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	font-weight: 600;
}
